@model IEnumerable<PostOffice.API.DTOs.Pincode.PincodeBaseDTO>

            @foreach (var item in Model)
            {
                <option value="@item.pincode">@item.city_name - @item.pincode</option>
            }

