@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="service-details" class="service-details">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">

            <div class="col-lg-8">
                <img src="~/home/assets//img/SavingService.jpg" alt="" class="img-fluid services-img">
                <h3>Our Saving Delivery Service</h3>
                <p>
                    Our new shipping option that offers discounted rates on packages that can be shipped over a longer period of time. This is a great option for businesses and individuals who need to ship packages regularly, but don't need them to arrive overnight or in two days.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Save money: Discount rates on packages that can be shipped over a longer period of time.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Reliable: Savings Delivery is just as reliable as our other shipping options.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Flexible: Offers a variety of shipping options to fit your needs.</span></li>
                </ul>
               
            </div>

        </div>

    </div>
