@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="featured-services" class="featured-services">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
                <div>
                    <h4 class="title">Best Service</h4>
                    <p class="description">We are giving the best experience for our clients</p>
                    
                </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
                <div>
                    <h4 class="title">Delivery in time</h4>
                    <p class="description">Ensuring the time delivery is our first vital factor </p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
                <div>
                    <h4 class="title">Movitation</h4>
                    <p class="description">We always serves our customer as a king and queen</p>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>
</section><!-- End Featured Services Section -->
<!-- ======= About Us Section ======= -->
<section id="about" class="about pt-0">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">
            <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
                <img src="~/home/assets/img/about.jpg" class="img-fluid" alt="">
                <a class="glightbox play-btn"></a>
            </div>
            <div class="col-lg-6 content order-last  order-lg-first">
                <h3>About Us</h3>
                <p>
                    TARS Delivery is a post office that provides mail services, such as accepting letters and parcels, providing post office boxes, and selling postage stamps, packaging, and stationery 1. Our mission is to provide you with the best possible service at an affordable price.

                    We understand that your time is valuable...
                </p>
                <a asp-action="About" asp-controller="Home" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->
<!-- ======= Services Section ======= -->
<section id="service" class="services pt-0">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <span>Our Services</span>
            <h2>Our Services</h2>

        </div>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-img">
                        <img src="~/home/assets/img/storage-service.jpg" alt="" class="img-fluid">
                    </div>
                    <h3><a class="stretched-link">Money Order</a></h3>
                    <p>Safe and Convenient way to send or receive money. It's a secure alternative to cash or checks</p>
                </div>
            </div><!-- End Card Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="card">
                    <div class="card-img">
                        <img src="~/home/assets/img/packaging-service.jpg" alt="" class="img-fluid">
                    </div>
                    <h3><a href="service-details.html" class="stretched-link">Parcel Order</a></h3>
                    <p>affordable way to ship your packages anywhere in the world. We offer a variety of shipping options to fit your needs and budget, and our experienced staff is here to help you choose the best option for your shipment</p>
                </div>
            </div><!-- End Card Item -->

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Call To Action Section ======= -->

<section id="features" class="features">
</section><!-- End Features Section -->
<!-- ======= Pricing Section ======= -->

<!-- ======= Testimonials Section ======= -->
