
@model PostOffice.API.DTOs.MoneyOrder.MoneyOrderBaseDTO
@{
    ViewData["Title"] = "MoneyOrderCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .selectpicker + button.btn {
        border-radius: 5px !important;
    }

    fieldset {
        padding: 10px;
        position: relative;
    }

    legend {
        position: absolute;
        top: -20px;
        background-color: #ffffff;
        padding: 0 10px;
        white-space: nowrap;
        text-align: center;
        width: 30%;
    }

    .bg-custom-blue {
        background-color: #0C0095;
    }

    .border-left-only {
        border-radius: .25rem 0 0 .25rem;
    }

    .pr-05rem {
        padding-right: .5rem !important;
    }

    label {
        width: 100%;
    }

    .gender-check {
        display: none;
    }

    .card-input-element, .card-input-gender-element {
        display: none;
    }

    .card-input {
        margin: 10px;
        padding: 00px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        transition: 1s;
    }

        .card-input:hover {
            cursor: pointer;
        }

    .card-input-gender-element:checked + .card-input {
        box-shadow: 0 0 1px 1px green;
        transition: 1s;
    }

        .card-input-gender-element:checked + .card-input .card-body .gender-check {
            display: inline-block;
            color: green;
            position: absolute;
            right: 10px;
        }
</style>


<datalist id="datalistOptions">
    @foreach (var item in ViewBag.PinCodeList)
    {
        <option value="@item.pincode">@item.city_name</option>
    }
</datalist>
<div class="card">
    <div class="card-header">
        Please enter <strong>Sender & Receiver </strong> Details in Required Fields Below
    </div>
    <div class="card-body card-block">
        <form asp-action="CreateMoneyOrder" asp-area="Client" asp-controller="MoneyOrder" method="post" enctype="multipart/form-data" class="form-horizontal">

            @*   Sender User *@
            <fieldset class="border border-3 rounded shadow-lg mb-5 mt-2 pt-5">
                <legend class="bg-custom-blue text-light rounded"> Sender User </legend>

               @*  <div class="row">
                    <div class="col-3 form-group">
                        <div class="col col-md-3"><label for="contact" class=" form-control-label">User Name</label></div>
                    </div>
                    <div class="row col-9 form-group">
                        <div class=" col-4 mb-2">
                            <input type="text" asp-for="user.fullname" id="sender_phone" placeholder="Full Name" class="form-control">
                        </div>
                        @* <div class="col-8 row mb-2 ml-2 pr-05rem">
                        <input type="text" asp-for="user.lastname" id="sender_name" placeholder="Last Name" class="col-9 form-control border-left-only rounded-left">

                        </div> 

                    </div>
                </div> *@

                <div class="row form-group">
                    <div class="col-3 form-group">
                        <div class="col col-md-4"><label for="contact" class=" form-control-label">Sender Pincode</label></div>
                    </div>
                    <div class="col-9 form-group">
                        <input asp-for="sender_pincode" class="form-control" list="datalistOptions" id="sender_pincode" placeholder="Type to search...">
                       
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="sender_address" class=" form-control-label">Sender Address</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" asp-for="sender_address" id="sender_address" placeholder=" No., Street, Ward " class="form-control"><small class="form-text text-muted">Example: 275, Nguyen Van Dau, Phuong 11</small>
                    </div>
                </div>
              @*   <div class="row">
                    <div class="col-3 form-group">
                        <div class="col col-md-3"><label for="contact" class=" form-control-label">Contact</label></div>
                    </div>
                    <div class="row col-9 form-group">
                        <div class=" col-4 mb-2">
                            <input type="text" asp-for="sender_phone" id="sender_phone" placeholder="Your Number" class="form-control">
                        </div>
                        <div class="col-8 row mb-2">
                            <div class="col-7">
                                <input type="text" asp-for="user_email" id="sender_name" placeholder="Your Email" class="form-control border-left-only rounded-left">
                            </div>
                            <button type="submit" class="btn btn-primary col-3 pb-1 rounded-right ">Confirm</button>
                        </div>

                    </div>
                </div> *@

                <div class="row form-group">
                    <div class="col col-md-3"><label for="sender_national_identity_number" class=" form-control-label">National Number</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" asp-for="sender_national_identity_number" id="sender_national_identity_number" placeholder="your national identity number" class="form-control"><small class="form-text text-muted">Get information</small>
                    </div>
                </div>
            </fieldset>

            @* Receiver User *@

            <fieldset class="border border-3 rounded shadow mb-5  mt-2 m-1 pt-5">
                <legend class="bg-custom-blue text-light rounded">Receiver User</legend>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="receiver_name" class=" form-control-label">Receiver Name</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" asp-for="receiver_name" id="receiver_name" placeholder="receiver name" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="receiver_pincode" class=" form-control-label">Receiver Pincode></label></div>
                    <div class="col-9 form-group">
                        <input asp-for="receiver_pincode" class="form-control" list="datalistOptions" id="receiver_pincode" placeholder="Type to search...">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="receiver_phone" class=" form-control-label">Receiver Phone</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" asp-for="receiver_phone" id="receiver_phone" placeholder="receiver phone" class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="receiver_national_identity_number" class=" form-control-label">Receiver National Number</label></div>
                    <div class="col-12 col-md-9">
                        <input type="text" asp-for="receiver_national_identity_number" id="receiver_national_identity_number" placeholder="his/her national identity number" class="form-control"><small class="form-text text-muted">Get information</small>
                    </div>
                </div>

            </fieldset>




            @*  Money - Order - Fee *@

            <fieldset class="border border-3 rounded shadow mb-5  mt-2 m-1 pt-5">
                <legend class="bg-custom-blue text-light rounded">Money Transfer & Fee</legend>

                <div class="row form-group">
                    <div class="col col-md-3"><label for="selectSm" class=" form-control-label">Transfer Value</label></div>
                    <div class="col-12 col-md-9">
                        <input type="number" min="0" asp-for="transfer_value" id="transfer_value" placeholder="transfer value" class="form-control" onchange="filter()">
                        <div id="display_value"></div>
                        <div id="description_value"></div>
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col col-md-3"><label for="money_order_fee" class=" form-control-label">Order Fee</label></div>
                    <div class="col-12 col-md-9">
                        <input readonly type="text" asp-for="transfer_fee" id="money_order_fee" placeholder="order fee" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="money_transfer" class=" form-control-label">Fee Payer</label></div>
                    <div class="d-flex flex-row mb-3">
                        <label class="w-15">
                            <input type="radio" asp-for="payer"  value="sender" class="card-input-gender-element" checked required />
                            <div class="card card-input px-0">
                                <div class="card-body row fs-5">
                                    <div class="col-9 text-center">
                                        Sender Pay 
                                    </div>
                                    <span class="col-3 gender-check float-start">&#10004;</span>
                                </div>
                            </div>
                        </label>
                        <label class="w-15">
                            <input type="radio" asp-for="payer" value="receiver" class="card-input-gender-element" required />
                            <div class="card card-input px-0">
                                <div class="card-body row fs-5">
                                    <div class="col-lg-9 col-12 text-center">
                                        Receiver Pay 
                                    </div>
                                    <span class="col-lg-3 col-12 gender-check float-start">&#10004;</span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="total_charge" class=" form-control-label">Total Charge</label></div>
                    <div class="col-12 col-md-9">
                        <input type="number" asp-for="total_charge" id="total_charge" placeholder="money order charge" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="transfer_description" class=" form-control-label">Transfer Description</label></div>
                    <div class="col-12 col-md-9"><textarea id="number-input" rows="9" placeholder="Content..." class="form-control"></textarea></div>
                </div>
            </fieldset>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var inputElement = document.getElementById("transfer_value");
        var displayElement = document.getElementById("display_value");
        inputElement.addEventListener("input", function () {
            var inputValue = inputElement.value;
            if (!isNaN(inputValue)) {
                var formattedValue = convertToWords(inputValue);
                displayElement.innerText = formattedValue;
            } else {
                displayElement.innerText = "";
            }
        });

        function convertToWords(number) {
            var words = ["", "Thousand", "Million", "Billion"];
            var num = parseInt(number, 10);
            var result = "";

            if (num === 0) {
                return "Zero";
            }

            var i = 0;
            while (num > 0) {
                var chunk = num % 1000;
                if (chunk > 0) {
                    result = convertChunkToWords(chunk) + " " + words[i] + " " + result;
                }
                num = Math.floor(num / 1000);
                i++;
            }

            return result.trim();
        }

        function convertChunkToWords(chunk) {
            var ones = ["", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine"];
            var teens = ["", "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen"];
            var tens = ["", "Ten", "Twenty", "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety"];
            var result = "";

            var hundreds = Math.floor(chunk / 100);
            var tensAndOnes = chunk % 100;

            if (hundreds > 0) {
                result += ones[hundreds] + " Hundred ";
            }

            if (tensAndOnes > 0) {
                if (tensAndOnes < 10) {
                    result += ones[tensAndOnes];
                } else if (tensAndOnes < 20) {
                    result += teens[tensAndOnes - 10];
                } else {
                    result += tens[Math.floor(tensAndOnes / 10)] + " " + ones[tensAndOnes % 10];
                }
            }

            return result.trim();
        }
    });

    function filter(){
        const transfer_input = document.getElementById("transfer_value");
        const sendpin_input = document.getElementById("sender_pincode");
        const recpin_input = document.getElementById("receiver_pincode");
        $.ajax({
            url: "/Client/MoneyOrder/ScopeFilter",
            type: "post",
            data: {
                transfer_value: transfer_input.value,
                sendPin: sendpin_input.value,
                recPin: recpin_input.value
            },
            success: function (response) { 
                document.getElementById("description_value").textContent = response.description;
                document.getElementById("money_order_fee").value = response.order_fee;
                document.getElementById("total_charge").value = response.total_charge;
            }
        })
    }

</script>

