
@using PostOffice.API.Data.Enums;
@model PostOffice.API.DTOs.ParcelService.ParcelServiceUpdateDTO
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        Update Parcel Services Status
    </div>
    <div class="card-body card-block">
        <form action="Edit" method="post" class="form-horizontal">
            <div class="row form-group">
                <div class="col col-sm-5"><label for="input-normal" class=" form-control-label">Status</label></div>
                <div class="col col-sm-6">
                    @Html.DropDownList("Status",
                    new SelectList(Enum.GetValues(typeof(ServiceStatus))),
                    "Select Status",
                    new { @class = "form-control" })
                </div>

            </div>
            <div class="row form-group">
                <div class="col col-sm-5"><label for="input-normal" class=" form-control-label">Delivery Time</label></div>
                <div class="col col-sm-6"><input type="text" asp-for="delivery_time" id="input-normal" name="input-normal" placeholder="Normal" class="form-control"></div>
            </div>
            <div class="card-footer">
                <input type="submit" values="Edit" class="btn btn-primary btn-sm">
                </input>
                <input type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i>
                </input>
            </div>
        </form>
    </div>

</div>

